@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');
@font-face {
font-family: "Regular";
src: url("font/CormorantGaramond-Regular.ttf");
}

/*navbar*/

.navbar {
	background-color: #fff;
	height: 5em;
	font-family: "Regular";
}

.nav-link {
	margin-left: 5em;
}

.nav-masthead .nav-link {
	border-bottom: 0.25rem solid;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: #000;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

.dropdown-menu{
	font-family: "Regular";
}

/*body*/

body{
	font-family: "Regular";
}

.px-3{
	padding-top: 14.5rem;
	margin-right: 1.3em;
	font-family: "Regular";
}

.cover-container {
	background-image: url("images/lilies.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.md-start {
	color: #000;
	margin-left: 2em;
	margin-bottom: -1.5em;
	padding: 0.25em;
	padding-left: 3em;
	font-family: "Regular";
}

#aa{
	color: #fff;
	outline: none;
  	text-decoration: none;
}

a{
	text-decoration: none;
}

#aa:hover, .btn-sm:hover{
	color: #9aaee2;
	outline: none;
  	text-decoration: none;
}

#proj{
	margin-top: 10em;
	margin-bottom: 5em;
	margin-right: 3em;
}

#palette{
	margin-top: 5em;
	margin-left: 5em;
}

#text{
	width: 30em;
	margin-left: -7em;
	margin-right: 1em;
	margin-bottom: 3em;
	text-align: justify;
}

#items{
	margin-top: 3.5em;
}

#tng{
	margin-left: 2em;
}

/*images*/

.img{
	margin-top: 4em;
	margin-bottom: 3em;
	width: 15em;
	height: auto;
}

#chi{
	margin-bottom: 2.5em;
	width: 10em;
	height: auto;
}

#henri{
	margin-right: -1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 15em;
	height: auto;
}

/*footer*/

footer{
	font-family: "Regular";
}
